

/* --------------- Mobile view styling------------------- */
@media(max-width:700px){

  .gridContaianer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .a{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 75px;
    line-height: 75px;
    background-color: darkviolet;
  }

  .b{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 150px;
    line-height: 150px;
    background-color: goldenrod;
  }

  .c{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: fuchsia;
  }

  .d{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: darkslateblue;
  }

  .e{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
    background-color: lime;
  }

  .f{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
    background-color: indianred;
  }

  .g{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
    background-color: palevioletred;
  }

  .h{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
    background-color: chocolate;
  }

  .i{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80px;
    line-height: 80px;
    background-color: darkgreen;
  }

}


/* --------------- Tablet view styling------------------- */

/* Box parameters */
@media(max-width:768px) and (min-width:701px){




  .gridContaianer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .a{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 75px;
    line-height: 75px;
    background-color: chocolate;
  }

  .b{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 150px;
    line-height: 150px;
    background-color: coral;
  }

  .c{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: cornflowerblue;
  }

  .d{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: cornsilk;
  }

  .e{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
    background-color: darkorchid;
  }

  .f{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
    background-color: orchid;
  }

  .g{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 250px;
    line-height: 250px;
    background-color: limegreen;
  }

  .h{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 250px;
    line-height: 250px;
    background-color: magenta;
  }

  .i{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80px;
    line-height: 80px;
    background-color: cyan;
  }
}





/* --------------- Desktop view styling------------------- */
/* Box parameters */
@media(min-width:769px){


  .gridContaianer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 250px 150px;
  }

  .a{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 100px;
    background-color: cornflowerblue;
  }

  .b{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    line-height: 600px;
    background-color: deeppink;
  }

  .c{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 200px;
    background-color: gainsboro;
  }

  .d{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 200px;
    background-color: firebrick;
  }

  .e{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px;
    background-color: darkgoldenrod;
  }

  .f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px;
    background-color: indianred;
  }

  .g{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px;
    background-color: darkviolet;
  }

  .h{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    line-height: 250px;
    background-color: darkseagreen;
  }

  .i{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    line-height: 150px;
    background-color: hotpink;
  }
}



@media(max-width:768px){

  body{
    width: 480px;
  }

  div{
    background-color: rebeccapurple;
  }

}


/* --------------- Desktop view styling------------------- */


@media(min-width:769px){

  body{
    width: 960px;
  }

  div{
    background-color: darksalmon;
  }

}
